<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.daos.ActiveCdkMapper">
  <resultMap id="BaseResultMap" type="com.xs.beans.ActiveCdk">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="used_user_id" jdbcType="INTEGER" property="usedUserId" />
    <result column="used_time" jdbcType="TIMESTAMP" property="usedTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="wx_sex" jdbcType="TINYINT" property="wxSex" />
    <result column="wx_headimgurl" jdbcType="VARCHAR" property="wxHeadimgurl" />
    <result column="member_expired" jdbcType="TIMESTAMP" property="memberExpired" />
    <result column="wx_openid" jdbcType="VARCHAR" property="wxOpenid" />
    <result column="wx_mini_openid" jdbcType="VARCHAR" property="wxMiniOpenid" />
    <result column="wx_unionid" jdbcType="VARCHAR" property="wxUnionid" />
    <result column="recommend_id" jdbcType="INTEGER" property="recommendId" />
    <result column="is_agent" jdbcType="BIT" property="isAgent" />
    <result column="cash_balance" jdbcType="DECIMAL" property="cashBalance" />
    <result column="member_type" jdbcType="TINYINT" property="memberType" />
  </resultMap>
</mapper>