<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.daos.IncomexpenseMapper">
  <resultMap id="BaseResultMap" type="com.xs.beans.Incomexpense">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="income" jdbcType="DECIMAL" property="income" />
    <result column="expense" jdbcType="DECIMAL" property="expense" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="tradedate" jdbcType="DATE" property="tradedate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="share_profit_id" jdbcType="INTEGER" property="shareProfitId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>