<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.daos.ShareProfitMapper">
  <resultMap id="BaseResultMap" type="com.xs.beans.ShareProfit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="paymnet_id" jdbcType="INTEGER" property="paymnetId" />
    <result column="profit" jdbcType="DECIMAL" property="profit" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="sub_type" jdbcType="TINYINT" property="subType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>