<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.daos.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.xs.beans.Template">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="ratio" jdbcType="TINYINT" property="ratio" />
    <result column="is_enabled" jdbcType="BIT" property="isEnabled" />
    <result column="preview_image_url" jdbcType="LONGVARCHAR" property="previewImageUrl" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="descri" jdbcType="LONGVARCHAR" property="desc" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>


  <select id="searchTemplates" resultType="java.util.HashMap">

    select t.id as id, t.category_id as categoryId, t.name as name, t.brand_id as brandId,
      t.descri as descri, t.preview_image_url as previewImageUrl, t.ratio as ratio,

      tc.title as title, tc.type as type, tc.background_image_url as backgroundImageUrl,
      tc.introduction as introduction, tc.is_hot as isHot, tc.template_filters as templateFilters,
      tc.id as tcId

    from tb_template as t inner join tb_template_category as tc on t.category_id = tc.id and
    t.is_enabled = true
    where 1 <![CDATA[=]]> 0


    <if test="lNames != null and lNames != ''">
      or t.id in (select distinct tl.template_id as templateId
    from tb_label as l inner join tb_template_labels as tl on tl.label_id = l.id
    where 1 <![CDATA[=]]> 0
    <foreach item="lName" index="index" collection="lNames" >
        or l.name like concat('%',#{lName},'%')
    </foreach>

    )
    </if>

    <if test="tcTitle != null and tcTitle != ''">
      <bind name="_tcTitle" value="'%' + _parameter.tcTitle + '%'" />
        or tc.title like #{_tcTitle}
    </if>
    <if test="tName != null and tName != ''">
      <bind name="_tName" value="'%' + _parameter.tName + '%'" />
        or t.name like #{_tName}
    </if>

    <if test="tcId != null and tcId != ''">
      <bind name="_tcId" value="'%' + _parameter.tcId + '%'" />
        or t.id = #{_tcId}
    </if>
    <if test="_tRatios != null and _tRatios != ''">
      <!--<bind name="_tRatio" value="'%' + _parameter.tRatio + '%'" />-->
      <!--or t.ratio = #{_tRatio}-->
      <foreach item="tR" index="index" collection="_tRatios" >
          or t.ratio = #{tR}
      </foreach>
    </if>

    order by t.gmt_modified desc;
  </select>

</mapper>